.main-wrapper{
    main{
        section{
            .desc-div{
                background-color:$color-primary;
                padding: 5px;
                display: flex;
                flex-direction: column;
                    h4{
                        background-color: $color-primary;
                        font-size: 35px;
                    }
                    p{
                        background-color: $color-primary;
                        font-size: 25px;
                    }
                }
            }
        aside{
            grid-area: aside;
            display: flex;
            justify-content: flex-end;
            background-color:$color-primary;
            flex-direction: vertical;
                .como-llegar-desc{
                    background-color: $color-primary;
                        h4{
                            @extend .como-llegar-desc;
                            font-size: 35px;
                    
                            }
                    }

            }
        } 
}    
$bodies:(
    card-body1:#339be0
    card-body2:#0d5280
    card-body3:#152f41
    card-body4:#3f80ac
);
@each $body,$color in $bodies{
    .clase-body#{$body} {
        color: $color;
    }
    
}
@mixin fuente ($size,$familia)  {
    font-size: $size;
    font-family:$familia 

}
.card-body1{
    h3{
        @include fuente(large,sans-serif) 
    }
}
