

.main-wrapper{
    display: grid;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "main main"
    "footer footer";

    background-color: rgba(240, 248, 255, 0.274);
    
    height:100%;

        nav{
            grid-area: nav;

            .container-fluid{
                background-color: $color-secondary;

                .nav-item{
                    padding: 5px;
                    background-color: $color-secondary;

                        a{
                            font-size: 20px;
                            padding: 5px;
                            color: black !important;
                            background-color: $color-secondary ;
                        }
                }
            }
        }        

        
}